<!DOCTYPE html>
<html>
<head>
  <title>Dj Lock - Offers</title>
  <style>
    /* Reset some default styles */
    body, h1, h2, h3, p {
      margin: 0;
      padding: 0;
    }

    /* Global styles */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    /* Navbar styles */
    .navbar {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      border-bottom: 1px solid #ddd;
    }

    .logo img {
      width: 100px;
    }

    .navbar-links li {
      font-size: 16px;
    }

    /* Offers container styles */
    .offers-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px;
    }

    .offer-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

    .offer-card {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .offer-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .offer-image {
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px;
    }

    .offer-details {
      margin-top: 20px;
    }

    .offer-name {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .offer-price {
      font-size: 16px;
      color: green;
      margin-bottom: 5px;
    }

    .offer-description {
      font-size: 14px;
      color: #666;
    }

    .view-offer-button {
      display: block;
      background-color: #27F4C3;
      color: white;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      text-align: center;
      text-decoration: none;
    }

    .view-offer-button-red {
      display: block;
      background-color: #ff5a5f;
      color: white;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      text-align: center;
      text-decoration: none;
    }

    .view-offer-button:hover {
      background-color: #e54043;
    }

     .view-offer-button-red:hover {
      background-color: #27F4C3;
    }

    /* Footer styles */
    .footer {
      background-color: #f5f5f5;
      padding: 20px;
      text-align: center;
    }

    .footer-logo img {
      width: 40px;
    }

    .contact-info {
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="offers-container">
    <h1 class="offers-title">Current bookings for your offer</h1>
    <div class="offer-list">
      <% @bookings.each do |booking| %>
        <div class="offer-card">
          <div class="offer-image-container">
            <%= image_tag 'fatima_hajji.jpeg', class: "offer-image" %>
          </div>
          <div class="offer-details">
            <h2 class="offer-name"><%= booking.date %></h2>
            <p class="offer-price"><%= booking.price %> €</p>
            <p class="offer-description"><%= booking.comment %></p>
            <p class="offer-description">📞<strong><%= @offer.user.phone_number%></strong></p>
          </div>
          <div class="view-offer-button-container">
            <% if booking.acceptation == false %>
              <%= button_to "Accept Booking", accept_booking_offer_booking_path(booking.offer, booking), class: "view-offer-button" %>
            <% else %>
              <%= button_to "Decline Booking", decline_booking_offer_booking_path(booking.offer, booking), class: "view-offer-button-red" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
