<!DOCTYPE html>
<html>
<head>
  <title>Dj Lock - Your Offers</title>
  <style>
    /* Réinitialiser certains styles par défaut */
    body, h1, h2, h3, p {
      margin: 0;
      padding: 0;
    }

    /* Styles globaux */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    /* Styles de la navbar */
    .navbar {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      border-bottom: 1px solid #ddd;
    }

    .logo img {
      width: 100px;
    }

    .navbar-links li {
      font-size: 16px;
    }

    /* Styles du footer */
    .footer {
      background-color: #f5f5f5;
      padding: 20px;
      text-align: center;
    }

    .footer-logo img {
      width: 40px;
    }

    .contact-info {
      margin-top: 10px;
    }

    /* Styles spécifiques pour la page d'offres */
    .content {
      flex: 1;
      max-width: 800px;
      margin: 0 auto;
      padding: 40px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-top: 40px;
      text-align: center;
    }

    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .offer-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .offer-image {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .offer-price {
      font-size: 18px;
      color: green;
      margin-bottom: 10px;
    }

    .offer-description {
      font-size: 16px;
      color: #666;
      margin-bottom: 20px;
    }

    .offer-style {
      font-size: 16px;
      color: #333;
      margin-bottom: 20px;
    }

    .booking-button {
      display: inline-block;
      background-color: #27F4C3;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
    }

    .booking-button:hover {
      background-color: #e54043;
    }

    #offer-title {
      text-align: center;
      margin-top: 40px;
    }


    .offer-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

    #create-button {
      justify-content: center;
      background-color: #27F4C3;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      width: 300px;
      margin: 40px;
    }

  </style>
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: 'dj loc Logo' %>
      <% end %>
    </div>
    <ul class="navbar-links">
      <%= link_to 'Sign out', class: 'btn-primary' %>
      <%# TODO: LINK TO SIGNOUT HOME %>
    </ul>
  </header>

    <h1 id="offer-title"><%="Hello #{@user.first_name} #{@user.last_name} find all your offers!"%> </h1>
    <div class="content">
      <% if @offers.present? %>
        <div class="offer-list">
          <% @offers.each do |offer| %>
            <div class="offer-details-container">
              <h2 class="offer-date"> <%= offer.availability%> </h2>
              <%# <%= image_tag offer.image_url, class: "offer-image" %>
              <p class="offer-price"><%= number_to_currency(offer.pricing, unit: '€') %></p>
              <p class="offer-description"><%= offer.content %></p>
              <p class="offer-style">Experience the amazing mix of <%= offer.style %> music.</p>
                  <% if offer.bookings.where(acceptation: "false").present? %>
                <p>You have <%= offer.bookings.where(acceptation: "false").count %> pending booking(s)</p>
                <a href="<%= user_booking_path(offer) %>" class="booking-button">View bookings</a>
              <% else %>
                <p>You have no pending bookings</p>
              <% end %>
              <% end %>
            </div>
        </div>
      <% else %>
        <p>You didn't post any offers yet.</p>
      <% end %>
    </div>

  <div class="center-container">
    <%= link_to '+ Create Offer', new_offer_path, id: 'create-button' %>
  </div>

  <div class="footer">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: 'dj lock Logo' %>
      <% end %>
    </div>
    <div class="contact-info">
      <p>Contact us: <%= mail_to 'contact@djlock.com' %></p>
    </div>
    <p>&copy; <%= Time.now.year %> Dj Lock. All rights reserved.</p>
  </div>
</body>
</html>
