<!DOCTYPE html>
<html>
<head>
  <title>Dj Lock</title>
  <style>
    /* Reset some default styles */
    body, h1, h2, h3, p {
      margin: 0;
      padding: 0;
    }

    /* Global styles */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    /* Navbar styles */
 

    /* Hero section styles */
    .banner {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= image_url('hero-bg.jpg')%>');
      background-size: cover;
      background-position: center;
      color: white;
      padding: 200px 0;
      text-align: center;
    }

    .dj h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    .dj p {
      font-size: 18px;
      margin-bottom: 40px;
    }

    /* Footer styles */


    /* Styles du texte Dashboard */
    .dashboard-link {
      text-decoration: none;
      color: black;
    }

    .dashboard-text:hover{
      color: #e54043;
    }

    .dashboard-text {
      color: black;
      font-size: 24px;
      font-weight: bold;}
  </style>
</head>
  <body>
    <div class="banner">
      <div class="dj">
      <h1>Welcome to Dj Lock</h1>
      <p>Discover amazing offers and experiences.</p>
      </div>
      <% if @user.nil? ||  @user.role == "Customer"   %>
        <%= link_to 'Browse Offers', offers_path, class: 'primary-red' %>
      <% elsif @user.role == "DJ" %>
        <%= link_to 'Browse Offers', offers_path, class: 'primary-red' %>
        <%= link_to 'Create Offer', new_offer_path, class: 'primary-red' %>
        <% else %>
        <%= link_to 'Browse Offers', offers_path, class: 'primary-red' %>
      <% end %>
    </div>
  </body>
</html>
