<!DOCTYPE html>
<html>
<head>
  <title>Dj Lock - Offers</title>
</head>
<body>
  <div class="offers-container">
    <h1 class="offers-title">Available Offers</h1>

    <div class="offer-list">
      <% @offers.each do |offer| %>
        <div class="offer-card">
          <div class="offer-image-container">
          <%if offer.user.photo.attached?%>
            <%= cl_image_tag offer.user.photo.key, crop: :fill %>
            <% else %>
            <%= image_tag 'fatima_hajji.jpeg', class: "offer-image" %>
          <% end %>
          </div>
          <div class="offer-details">
            <h2 class="offer-name"><%= offer.availability %></h2>
            <p class="offer-price"><%= offer.pricing %> €</p>
            <p class="offer-description"><%= offer.content %></p>
          </div>
          <div class="view-offer-button-container">
            <%= link_to "View Offer", offer_path(offer), class: "view-offer-button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
