<!DOCTYPE html>
<html>
<head>
  <title>Dj Lock - Offers</title>
  <style>
    /* Reset some default styles */
    body, h1, h2, h3, p {
      margin: 0;
      padding: 0;
    }

    /* Global styles */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    /* Navbar styles */


    /* Offers container styles */
    .offers-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px;
    }

    .offer-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
    }

    .offer-card {
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .offer-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .offer-image {
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px;
    }

    .offer-details {
      margin-top: 20px;
    }

    .offer-name {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .offer-price {
      font-size: 16px;
      color: green;
      margin-bottom: 5px;
    }

    .offer-description {
      font-size: 14px;
      color: #666;
    }

    .view-offer-button {
      display: block;
      background-color: #27F4C3;
      color: white;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      text-align: center;
      text-decoration: none;
    }

    .view-offer-button:hover {
      background-color: #e54043;
    }

    /* Footer styles */

  </style>
</head>
<body>
  <div class="offers-container">
    <h1 class="offers-title">Available Offers</h1>

    <div class="offer-list">
      <% @offers.each do |offer| %>
        <div class="offer-card">
          <div class="offer-image-container">
          <%if offer.user.photo.attached?%>
            <%= cl_image_tag offer.user.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
            <%= image_tag 'fatima_hajji.jpeg', class: "offer-image" %>
          <% end %>
          </div>
          <div class="offer-details">
            <h2 class="offer-name"><%= offer.availability %></h2>
            <p class="offer-price"><%= offer.pricing %> €</p>
            <p class="offer-description"><%= offer.content %></p>
          </div>
          <div class="view-offer-button-container">
            <%= link_to "View Offer", offer_path(offer), class: "view-offer-button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
